ul.pagination li {
    /*  bootstrapのlist-inlineを使えば不要
    display: inline-block;
    */
    text-align: center;
    font-size:16px;
    margin: 0 0 0 1em;
    padding: 1;
}
/*  bootstrapのlist-unstyledを使えば不要
ul {
    list-style: none;
}
*/
.horizon {
    border-bottom: 1px solid;
 }
